
* {
  box-sizing: border-box;
}

body{

  /* text */
  font-family: "Times New Roman", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: normal;

  /* canvas */
  background-color: white;

  /* spacing */
  margin: 0;
  padding:50px;
}

h1, h2, h3, {
  color: #000000;
  text-align: center;
  text-transformation: uppercase;
  font-size: 2em;
  line-height: 4em;
  letter-spacing: 2px;
  font-weight: bold;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.posttext {
  overflow: scroll;
  width: 560px;
  height: 315px;
  background-color: #C3C6AA;
}

.posttext2 {
  overflow: scroll;
  width: 560px;
  height: 315px;
  background-color: #C3C6AA;
}

.posttext3 {
  overflow: scroll;
  width: 560px;
  height: 315px;
  background-color: #C3C6AA;
}

header {
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: black;
}
